{% extends 'base.html.twig' %}

{% block body %}
    <h1>name</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ name.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ name.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('name_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('name_edit', { 'id': name.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
